{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
          title
      {% endblock %}
    </title>
    <link rel="favicon" href="{% static 'images/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
  <body>

    {% block body %}

    {% endblock %}

    <!--footer section start-->
    <footer class="text-center">
      <p class="text-secondary d-block">
        {% block footer %}
        &copy; 2019 nsucluber.org All Rights Reserved</p>
        {% endblock %}
    </footer>
  <!--footer section end-->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/style.js"></script>
  </body>
  </html>
