{% extends 'includes/base.html'%}

{% load static %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href=""> <img class="logo" src="{% static 'images/logo.png' %}" alt="logo"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-auto nav-hover">
        <a class="nav-link text-capitalize" href="">contact</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link text-capitalize" href="">event/seminar</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link text-capitalize" href="">recruitment</a>
      </li>
      <li>
      <a class="nav-link text-capitalize btn mr-1 btn-outline-success nav-btn" href="{% url 'admin' %}">Admin Dashboard</a>
     </li>
      <li class="nav-item ml-auto">
        <a class="nav-link text-capitalize btn btn-outline-success nav-btn" href="">log in</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block footer %}

{% endblock %}
