{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
    nsuCluber
{% endblock %}

{% block body %}
  <!-- navbar start -->
  {% include 'includes/nav.html' %}
  <!--navbar end-->
  <section>
      <div class="container-fluid p-0 m-0">
          <div class="h-90vh bg-club">
              <div class="h-75 d-flex justify-content-center align-items-center text-white">
                  <h1>Welcome to <span class="text-primary hide show0">nsu</span><span class="hide show1 ">CLUB</span><span class="text-warning hide cursive show2">ER</span></h1>
              </div>
              <br>
              <div class="w-100 text-center">
                  <a class="btn btn-outline-warning mr-3" href="">Recruitment</a>
                  <a class="btn btn-outline-warning ml-3" href="">Conatct</a>
              </div>
          </div>
      </div>
  </section>
      <!--Banner section end-->

      <!--event section start-->
      <section>
        <div class="container">
          <div class="mt-5">
            <h3 class="text-uppercase text-secondary text-left">On going event and seminar </h3>
          </div>
          <div class="row">
          <div class="mt-5 col-md-8 col-12 m-auto">
            <div>
            <h6 class="text-capitalize text-left text-club"></h6>
            <p class="m-0">Start:12:30pm</p>
            <p class="m-0">End:6:10am</p>
            <p class="m-0">Place:nsu audi</p>
            <p class="m-0" >Owner:<span class="text-success">NSUSS</span></p>
            <img class="img-thumbnail img-size-event" src="{% static 'images/nsuss.jpg' %}" alt="event poster">
            <details>
              <summary class="text-club">Lorem ipsum dolor sit amet</summary>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </details>
          </div>
          <div class="text-center my-4">
            <a href="" class="btn btn-outline-secondary text-uppercase">more</a>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <h5 class="text-left text-info">About nsucluber.org</h5>
          <p class="text-left text-muted lead"><strong>nsuCluber</strong>,Bangladeshi company offering online social networking services. <strong>nsuCluber</strong> was founded in 2020 . <strong>nsuCluber</strong> became the popular social network in the North South University, with more than one thousand users as of 2020, and about half that number were using nsuCluber every day.</p>
        </div>
        </div>
      </div>
      </section>
{% endblock %}
